{% load static %}

<footer class="footer">
<div class="container bottom_border">
<div class="row">
<div class=" col-sm-4 col-md col-sm-4  col-12 col be-with-us">
<h5 class="headin5_amrc col_white_amrc pt2 be-with-us-main">Be with us</h5>
<!--headin5_amrc-->
<p class="mb10 be-with-us">Our company cares about your appearance</p>
<p class="be-with-us"><i class="fa fa-location-arrow footer-icon"></i> New York, Fulton St 7 </p>
<p class="be-with-us"><i class="fa fa-phone footer-icon"></i>  +170-977-69-34  </p>
<p class="be-with-us"><i class="fa fa fa-envelope footer-icon"></i> oneshotshop@gmail.com  </p>


</div>


<div class=" col-sm-4 col-md  col-6 col quick-links">
<h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
<!--headin5_amrc-->
<ul class="footer_ul_amrc">
<li><a href="http://webenlance.com">Image Rectoucing</a></li>
<li><a href="http://webenlance.com">Clipping Path</a></li>
<li><a href="http://webenlance.com">Hollow Man Montage</a></li>
<li><a href="http://webenlance.com">Ebay & Amazon</a></li>
<li><a href="http://webenlance.com">Hair Masking/Clipping</a></li>
<li><a href="http://webenlance.com">Image Cropping</a></li>
</ul>
<!--footer_ul_amrc ends here-->
</div>


<div class=" col-sm-4 col-md  col-6 col quick-links">
<h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
<!--headin5_amrc-->
<ul class="footer_ul_amrc">
<li><a href="http://webenlance.com">Remove Background</a></li>
<li><a href="http://webenlance.com">Shadows & Mirror Reflection</a></li>
<li><a href="http://webenlance.com">Logo Design</a></li>
<li><a href="http://webenlance.com">Vectorization</a></li>
<li><a href="http://webenlance.com">Hair Masking/Clipping</a></li>
<li><a href="http://webenlance.com">Image Cropping</a></li>
</ul>
<!--footer_ul_amrc ends here-->
</div>


</div>
</div>


<div class="container">
<ul class="foote_bottom_ul_amrc">
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/catalog">Catalog</a></li>
<li><a href="/accounts/sign_in">Sign in</a></li>
<li><a href="/accounts/sign_up">Sign up</a></li>
</ul>
<!--foote_bottom_ul_amrc ends here-->
<p class="text-center">Copyright @2023 | Designed With by <a href="#">OneShot</a></p>

<ul class="social_footer_ul">
<li><a href="http://webenlance.com"><i class="fab fa-facebook-f footer-icon"></i></a></li>
<li><a href="http://webenlance.com"><i class="fab fa-twitter footer-icon"></i></a></li>
<li><a href="http://webenlance.com"><i class="fab fa-linkedin footer-icon"></i></a></li>
<li><a href="http://webenlance.com"><i class="fab fa-instagram footer-icon"></i></a></li>
</ul>
<!--social_footer_ul ends here-->
</div>

</footer>