{% extends '_layouts/base.html' %}

{% load static %}


{% block sign_in %}
<h1 class="sign-up-top">SIGN IN</h1>
<div class="sign_up_form">
    <form action="/accounts/sign_in" method="post">
        {% csrf_token %}
            {% for f in form_2 %}
                    <p class="sign-up-p">
                      <label class="form-label" for="{{ f.id_for_label }}">
                          {{ f.label }}
                      </label>
                        {{ f }}
                    </p>
                    <div class="form-error">
                        {{ f.errors }}
                    </div>
            {% endfor %}
        <input type="submit" value="Sign In" class="sign-up-btn">
    </form>
</div>
{% endblock sign_in %}
