<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shot</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style_1-500.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_500-1000.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_1000-1440.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_1440-1800.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_1800-2600.css' %}">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">


    <script src="{% static 'js/jquery.min.js' %}"></script>
</head>
<body>
    {% include '_fragments/header.html' %}
    {% block index %}{% endblock index %}
    {% block about %}{% endblock about %}
    {% block contacts %}{% endblock contacts %}
    {% block cart %}{% endblock cart %}
    {% block bill %}{% endblock bill %}

    {% block failed %} {% endblock failed %}
    {% block thanks %} {% endblock thanks %}


    {% block store %}{% endblock store %}
    {% block detail %}{% endblock detail %}


    {% block sign_in %} {% endblock sign_in %}
    {% block sign_up %} {% endblock sign_up %}
    {% block sign_out %} {% endblock sign_out %}
    {% block profile %} {% endblock profile %}
    {% block reports %} {% endblock reports %}

    {% include '_fragments/footer.html' %}


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>
